.skinswitcher .skincolor-blue,
.skinswitcher .skincolor-white,
.skinswitcher .skincolor-none {
    width:20px;
    height:10px;
    display:inline-block;
    border:1px solid black;
}
.skincolor-blue {
    background-color:blue;
}
.skincolor-white {
    background-color:white;
}
.skincolor-none {
    background-color: transparent;
}
.current {
    color:red;
}